header {
        height: 115px;
        background-color: rgb(255, 85, 13);
        
        background-size: 400px;
        background-position: left;
        background-repeat: no-repeat;
        padding-bottom: 23px;
        font-family: 'Droid Serif';
      font-style: normal;
      font-weight: 400;

}
body {
    margin: 0;
    padding: 0;
    background-color: #107407;
  
    font-family:  'Droid Serif','Yanone Kaffeesatz', sans-serif, 'Verdana';
    background-image: url('../img/fondo_principal.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-x;
  }
  div{
    position: absolute;
    top: 40%;
    left: 40%;  
    background: yellow;
    height: 150px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
  }