header {
        height: 115px;
        background-color: rgb(255, 85, 13);
        
        background-size: 400px;
        background-position: left;
        background-repeat: no-repeat;
        padding-bottom: 23px;
        font-family: 'Indie Flower', cursive;
        font-style: normal;
        font-weight: 400;

}
body {
    margin: 0;
    padding: 0;
    background-color: #107407;
  
    font-family:  'Droid Serif','Yanone Kaffeesatz', sans-serif, 'Verdana';
    background-image: url('https://w.wallhaven.cc/full/4x/wallhaven-4x871z.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  #form{
    position: absolute;
    top: 40%;
    left: 40%;
    font-family: 'Shadows Into Light', cursive; 
    color: blanchedalmond;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
#fing{
    height:150px;    
    width:200px;
}
#fing:hover {
    transform: scaleX(-1);
  }
#uach{
    float: right;
    height:150px;    
    width:200px;
}
#uach:hover {
    transform: scaleX(-1);
  }
#boton{
    width: 110px; 
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: 'Shadows Into Light', cursive;
}
#boton:hover{
    color: #074c85;
    background-color: #ffffff;
}