header {
        height: 115px;
        background-color: rgb(255, 85, 13);
        
        background-size: 400px;
        background-position: left;
        background-repeat: no-repeat;
        padding-bottom: 23px;
        font-family: 'Droid Serif';
      font-style: normal;
      font-weight: 400;

}
body {
    margin: 0;
    padding: 0;
    background-color: #107407;
  
    font-family:  'Droid Serif','Yanone Kaffeesatz', sans-serif, 'Verdana';
    background-image: url('../img/fondo_principal.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-x;
  }
  div{
    position: absolute;
    top: 40%;
    left: 40%;  
    background: rgb(240, 240, 213);
    border: 2px outset rgb(10, 75, 119);
    height: 200px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
#fing{
    height:150px;    
    width:200px;
}
#uach{
    float: right;
    height:150px;    
    width:200px;
}
#boton{
    width: 110px; 
    margin-left: 50%;
    transform: translateX(-50%);
}
#boton:hover{
    color: #ff0707;
    background-color: #ffffff;
}